# Python
__pycache__/
*.py[cod]
*$py.class
*.so
db.sqlite3
*.egg-info/
dist/
build/
.eggs/

# Virtual env
venv/
.venv/
env/

# Static files
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage

gunicorn.ctl

